In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_path = os.path.join('data','zippedData')
data_files = os.listdir(data_path)
data_files.pop(data_files.index('Untitled.ipynb'))
data_files = [os.path.join(data_path,file) for file in data_files]

data = {}
name_dict={'imdb.title.crew.csv.gz':"crew",
           'tmdb.movies.csv.gz':"movies",
           'imdb.title.akas.csv.gz':"akas",
           'imdb.title.ratings.csv.gz':"ratings",
           'imdb.name.basics.csv.gz':"name_basics",
           'rt.reviews.tsv.gz':"reviews",
           'imdb.title.basics.csv.gz':"title_basics",
           'rt.movie_info.tsv.gz':"movie_info",
           'tn.movie_budgets.csv.gz':"movie_budgets",
           'bom.movie_gross.csv.gz':"movie_gross",
           'imdb.title.principals.csv.gz':"principals"
          }
for file in data_files:
    try:
        df = pd.read_csv(file)
    except:
        continue
    file_name = file.split('/')[-1]
    data[name_dict[file_name]] = df
    
data["movie_info"]=pd.read_csv('data/zippedData/rt.movie_info.tsv.gz', sep="\t")
data["reviews"]=pd.read_csv('data/zippedData/rt.reviews.tsv.gz', sep="\t", encoding="latin1")

data['title_basics'] = data['title_basics'].rename(columns={'primary_title':'title'})
data['movie_budgets'] = data['movie_budgets'].rename(columns={'movie':'title'})

data['movie_budgets']['worldwide_gross'] = data['movie_budgets']['worldwide_gross'].str.replace(',', '')
data['movie_budgets']['worldwide_gross'] = data['movie_budgets']['worldwide_gross'].str.replace('$', '')
data['movie_budgets']['worldwide_gross'] = data['movie_budgets']['worldwide_gross'].astype(int)
data['movie_budgets']['production_budget'] = data['movie_budgets']['production_budget'].str.replace(',', '')
data['movie_budgets']['production_budget'] = data['movie_budgets']['production_budget'].str.replace('$', '')
data['movie_budgets']['production_budget'] = data['movie_budgets']['production_budget'].astype(int)
data['movie_budgets']['domestic_gross'] = data['movie_budgets']['domestic_gross'].str.replace(',', '')
data['movie_budgets']['domestic_gross'] = data['movie_budgets']['domestic_gross'].str.replace('$', '')
data['movie_budgets']['domestic_gross'] = data['movie_budgets']['domestic_gross'].astype(int)

data['movie_budgets'] = data['movie_budgets'].drop(columns=['release_date','domestic_gross'])

data['ratings'] = data['ratings'][data['ratings'].numvotes >= 100]

data['ratings']['mean_diff'] = data['ratings'].averagerating - data['ratings'].averagerating.mean()

data['akas'].rename(columns={'title_id': 'tconst'}, inplace = True)

tconst_to_title = pd.merge(data['akas'],data['ratings'],on='tconst')

tconst_to_title = tconst_to_title.drop(columns=['ordering','region','language','types','attributes','is_original_title'])

master_table = pd.merge(tconst_to_title,data['movie_budgets'],on='title')

master_table['success_score'] = master_table.mean_diff * (master_table.worldwide_gross / master_table.production_budget)

master_table[master_table.tconst == 'tt0369610']

master_table.drop_duplicates(subset = ['tconst'],inplace=True)

master_table = pd.merge(data['title_basics'],master_table,on='tconst')

master_table["roi"]=master_table.worldwide_gross/master_table.production_budget

master_table["net_profit"]=master_table.worldwide_gross-master_table.production_budget

master_table.head()

,tconst,title_x,original_title,start_year,runtime_minutes,genres,title_y,averagerating,numvotes,mean_diff,id,production_budget,worldwide_gross,success_score,roi,net_profit
0,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",Saving Grace,8.1,263,2.192985,95,4000000,27786849,15.234036,6.946712,23786849
1,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",Foodfight!,1.9,8248,-4.007015,26,45000000,73706,-0.006563,0.001638,-44926294
2,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",On the Road,6.1,37886,0.192985,17,25000000,9313302,0.071893,0.372532,-15686698
3,tt0339736,The Evil Within,The Evil Within,2017,98.0,Horror,Whiplash,5.6,2420,-0.307015,43,3300000,38969037,-3.625478,11.808799,35669037
4,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",The Secret Life of Walter Mitty,7.3,275300,1.392985,37,91000000,187861183,2.875690,2.064409,96861183